    <h3>new transaction</h3>
    {% csrf_token %}
    <div>
      <label for="account_id">account</label>
      <select name="account_id" id="account_id">
        <option>&nbsp;</option>
        {% for account in all_accounts %}
          {% if account_id and account_id == account.id %}
        <option value="{{ account.id }}" selected="selected">{{ account.name }}</option>
          {% else %}
        <option value="{{ account.id }}">{{ account.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="envelope_id">envelope</label>
      <select name="envelope_id" id="envelope_id">
        <option>&nbsp;</option>
        {% for envelope in all_envelopes %}
          {% if envelope_id and envelope_id == envelope.id %}
        <option value="{{ envelope.id }}" selected="selected">{{ envelope.name }}</option>
          {% else %}
        <option value="{{ envelope.id }}">{{ envelope.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="date">date</label>
      <input type="text" name="date" id="date" />
    </div>

    <div>
      <label for="amount">amount</label>
      <input type="text" name="amount" id="amount" />
    </div>

    <div class="grd">
      <div class="grd-row">
        <div class="grd-row-col-2-6">
          <input type="submit" name="add" value="add" class="btn btn--green" />
        </div>
        <div class="grd-row-col-2-6"></div>
        <div class="grd-row-col-2-6">
          <input type="submit" name="subtract" value="subtract" class="btn btn--red" />
        </div>
      </div>
    </div>
