    <h3>new transaction</h3>
    {% csrf_token %}

    {% include 'shared/partials/accounts_select.html' with all_accounts=all_accounts account_id=account_id %}

    <div>
      <label for="envelope_id">envelope</label>
      <select name="envelope_id" id="envelope_id">
        <option>&nbsp;</option>
        {% for envelope in all_envelopes %}
          {% if envelope_id and envelope_id == envelope.id %}
        <option value="{{ envelope.id }}" selected="selected">{{ envelope.name }}</option>
          {% else %}
        <option value="{{ envelope.id }}">{{ envelope.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    {% include 'shared/partials/date_input.html' %}

    {% include 'shared/partials/amount_input.html' %}

    <div class="grd">
      <div class="grd-row">
        <div class="grd-row-col-2-6">
          <input type="submit" name="add" value="add" class="btn btn--green" />
        </div>
        <div class="grd-row-col-2-6"></div>
        <div class="grd-row-col-2-6">
          <input type="submit" name="subtract" value="subtract" class="btn btn--red" />
        </div>
      </div>
    </div>
