h1 {
  font-size: 2.998rem;
}
h2 {
  font-size: 2.2rem;
}
aside form {
  padding: 1.5rem 2rem;
}
aside h3 {
  margin-top: 0;
}
tfoot {
  border-top: 1px solid rgba(216, 216, 216, 0.99);
}
tfoot td {
  text-align: right;
}
aside .grd {
  padding: 0;
}
input[type="checkbox"] {
  display: inline-block;
  width: inherit;
  margin: 5px;
}
