{% extends 'shared/base.html' %}
{% block title %} {{ title }} {% endblock %}
{% load static %}

{% block main %}
  <h1>
    <a href="{% url 'accounts:detail' account.id %}">&laquo;</a>
    editing <em>{{ account.name|lower }}</em>
  </h1>
  <form action="{% url 'accounts:update' account.id %}" method="post">
    {% csrf_token %}

    <div>
      <label for="id_name">name</label>
      {{ form.name }}
    </div>

    <div>
      <input type="submit" value="save" class="btn btn--blue" />
    </div>
  </form>
{% endblock %}
