{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} | pesos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/furtive.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.0.5/flatpickr.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
  </head>
  <body class="py1 px1">
    {% if user.is_authenticated %}
      <nav>
        <a class="icon home" href="/">home</a>
        <a class="icon accounts" href="{% url 'accounts:index' %}">accounts</a>
        <a class="icon envelopes" href="{% url 'envelopes:index' %}">envelopes</a>
        <a class="icon transactions" href="{% url 'transactions:index' %}">transactions</a>
        <a class="icon logout" href="{% url 'logout' %}">logout</a>
      </nav>
    {% endif %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="grd">
      <div class="grd-row">
        <main class="grd-row-col-4-6">
          {% block main %}
          {% endblock %}
        </main>
        {% block aside %}
        {% endblock %}
      </div>
    </div>
    {% if user.is_authenticated %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.0.5/flatpickr.min.js"></script>
      <script>
        flatpickr('.date', {
          'dateFormat': 'Y-m-d',
          'allowInput': true,
        });
      </script>
    {% endif %}
  </body>
</html>
