{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/furtive.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.0.5/flatpickr.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
  </head>
  <body class="py2 px1">
    {% if user.is_authenticated %}
      <a href="/" class="home" title="home"></a>
      <a href="{% url 'logout' %}" class="logout" title="logout"></a>
    {% endif %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="grd">
      <div class="grd-row">
        <main class="grd-row-col-4-6">
          <h1>
            <small>
              <img src="{% static 'images/mail.svg' %}" alt="envelopes" title="envelopes" height="16" /> <a href="{% url 'envelopes:index' %}">envelopes</a>
              |
              <img src="{% static 'images/notebook-3.svg' %}" alt="accounts" title="accounts" height="16" /> <a href="{% url 'accounts:index' %}">accounts</a>
              |
              <img src="{% static 'images/list-19.svg' %}" alt="accounts" title="accounts" height="16" /> <a href="{% url 'transactions:index' %}">transactions</a>
            </small>
          </h1>
          {% block main %}
          {% endblock %}
        </main>
        {% block aside %}
        {% endblock %}
      </div>
    </div>
    {% if user.is_authenticated %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.0.5/flatpickr.min.js"></script>
      <script>
        flatpickr('.date', {
          'dateFormat': 'Y-m-d',
          'allowInput': true,
        });
      </script>
    {% endif %}
  </body>
</html>
