{% extends 'shared/base.html' %}
{% block title %} {{ envelope.name }} {% endblock %}
{% load static %}

{% block main %}
  <h1>
    <a href="{% url 'envelopes' %}">all envelopes</a>
    &raquo;
    {{ envelope.name|lower }}
    <a class="icon edit envelope" href="{% url 'envelopes:edit' envelope.id %}"></a>
  </h1>
  {% if envelope.immutable_budget %}
  <p>budget cannot be scaled</p>
  {% endif %}
  <h2>
    running total
    {% if envelope.running_total > 0 %}
    <span class="fnt--green">&pound;{{ envelope.running_total|floatformat:2 }}</span>
    {% else %}
    <span class="fnt--red">&pound;{{ envelope.running_total|floatformat:2 }}</span>
    {% endif %}
  </h2>
  <table>
    <thead>
      <tr>
        <th>date</th>
        <th>account</th>
        <th class="txt--right">amount</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in envelope.transaction_set.all %}
      <tr>
        <td>{{ transaction }}</td>
        <td><a href="{% url 'accounts:detail' transaction.account_id %}">{{ transaction.account }}</a></td>
        {% if transaction.amount > 0 %}
        <td class="txt--right fnt--green">&pound;{{ transaction.amount|floatformat:2 }}</td>
        {% else %}
        <td class="txt--right fnt--red">&pound;{{ transaction.amount|floatformat:2 }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block aside %}
  <aside class="grd-row-col-2-6">
    <form action="{% url 'envelopes:create_transaction' %}" method="post" class="brdr--light-gray">
      {% include 'shared/partials/transaction_form.html' with all_accounts=all_accounts all_envelopes=all_envelopes envelope_id=envelope.id %}
    </form>
  </aside>
{% endblock %}
