{% load static %}
{% include 'shared/partials/header.html' with title=title %}
  <main class="grd-row-col-6-6">
    <h1>
      <img src="{% static 'images/mail.svg' %}" alt="envelopes" title="envelopes" height="36" /> <a href="/">envelopes</a> &raquo;
        <a href="{% url 'envelopes:detail' envelope.id %}">{{ envelope.name }}</a> &raquo; edit |
      <small><img src="{% static 'images/notebook-3.svg' %}" alt="accounts" title="accounts" height="24" /> <a href="{% url 'accounts:index' %}">accounts</a></small>
    </h1>
    <form action="{% url 'envelopes:update' envelope.id %}" method="post">
      {% csrf_token %}

      <div>
        <label for="id_name">name</label>
        {{ form.name }}
      </div>

      <div>
        <label for="id_monthly_budget">monthly budget</label>
        {{ form.monthly_budget }}
      </div>

      <div>
        <label for="id_immutable_budget">immutable budget</label>
        {{ form.immutable_budget }}
      </div>

      <div>
        <input type="submit" value="save" class="btn btn--blue" />
      </div>
    </form>
  </main>
{% include 'shared/partials/footer.html' %}
