{% include 'shared/partials/header.html' with title='envelopes' %}
  <main class="grd-row-col-4-6">
    <h1>envelopes | <a href="{% url 'accounts:index' %}">accounts</a></h1>
    {% if all_envelopes %}
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th class="txt--right">monthly budget</th>
          <th class="txt--right">remaining</th>
        </tr>
      </thead>
      <tbody>
        {% for envelope in all_envelopes %}
        <tr>
          <td><a href="{% url 'envelopes:detail' envelope.id %}">{{ envelope }}</a></td>
          <td class="txt--right fnt--orange">&pound;{{ envelope.monthly_budget }}</td>
          {% if envelope.running_total >= envelope.monthly_budget %}
          <td class="txt--right fnt--green">&pound;{{ envelope.running_total }}</td>
          {% else %}
          <td class="txt--right fnt--red">&pound;{{ envelope.running_total }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td class="fnt--orange">&pound;{{ envelope_budget_total }}</td>
          {% if remaining_total > 0 %}
          <td class="fnt--green">&pound;{{ remaining_total|floatformat:2 }}</td>
          {% else %}
          <td class="fnt--red">&pound;{{ remaining_total|floatformat:2 }}</td>
          {% endif %}
        </tr>
      </tfoot>
    </table>
    {% endif %}
  </main>
  <aside class="grd-row-col-2-6">
    <form action="{% url 'envelopes:create_transaction' %}" method="post" class="brdr--light-gray">
      {% include 'shared/partials/transaction_form.html' with all_accounts=all_accounts all_envelopes=all_envelopes %}
    </form>
  </aside>
{% include 'shared/partials/footer.html' %}
