<h1>envelopes | <a href="{% url 'accounts:index' %}">accounts</a></h1>
{% if all_envelopes %}
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th class="right">monthly budget</th>
        <th class="right">remaining</th>
      </tr>
    </thead>
    <tbody>
      {% for envelope in all_envelopes %}
      <tr>
        <td><a href="{% url 'envelopes:detail' envelope.id %}">{{ envelope }}</a></td>
        <td class="right">&pound;{{ envelope.monthly_budget }}</td>
        {% if envelope.running_total > envelope.monthly_budget %}
        <td class="right good">&pound;{{ envelope.running_total }}</td>
        {% else %}
        <td class="right bad">&pound;{{ envelope.running_total }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
    <p>No envelopes are available.</p>
{% endif %}
