nav {
  margin-bottom: 3rem;
}
  nav a.icon {
    margin-right: 1rem;
    font-size: 1.1rem;
    background-size: 20%;
  }
    nav a.home {
      background-image: url(/static/images/browser-5.svg);
      background-size: 25%;
    }
    nav a.accounts { background-image: url(/static/images/notebook-3.svg); }
    nav a.envelopes { background-image: url(/static/images/mail.svg); }
    nav a.transactions {
      background-image: url(/static/images/list-19.svg);
      background-size: 16%;
    }
    nav a.logout {
      background-image: url(/static/images/user-16.svg);
      background-size: 25%;
    }

h1 {
  font-size: 2.998rem;
}
  h1 small {
    font-size: 1.5rem;
  }
  h1 a.icon {
    min-height: 1.2rem;
    background-size: contain;
  }
h2 {
  font-size: 2.2rem;
}
aside form {
  padding: 1.5rem 2rem;
}
aside h3 {
  margin-top: 0;
}
tfoot {
  border-top: 1px solid rgba(216, 216, 216, 0.99);
}
tfoot td {
  text-align: right;
}
aside .grd {
  padding: 0;
}
input[type="checkbox"] {
  display: inline-block;
  width: inherit;
  margin: 5px;
}
a.icon {
  min-height: 1rem;
  min-width: 1rem;
  display: inline-block;
  padding-left: 1.5rem;
  background-repeat: no-repeat;
  background-position: left;
}
  a.account.new {
    background-image: url(/static/images/notebook.svg);
  }
  a.account.edit {
    background-image: url(/static/images/notebook-12.svg);
  }
  a.envelope.new {
    background-image: url(/static/images/mail-17.svg);
  }
  a.envelope.edit {
    background-image: url(/static/images/mail-9.svg);
  }
.messages {
  padding: 0;
  margin-top: 0;
}
  .messages li {
    list-style-type: none;
  }
